#page-freelancer-list {
  width: 100vw;
  height: 100vh;
}

#search-freelancers {
  margin-top: 3.2rem;
}

#search-freelancers label {
  color: var(--color-text-light);
}

#search-freelancers .select-block select {
  background: var(--color-text-light);
}

#search-freelancers button {
  width: 100%;
  height: 5.8rem;
  background: var(--color-3);
  color: var(--color-text-light);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.2s;
  margin-top: 4rem;
}

#page-freelancer-list main {
  margin: 3.2rem auto;
  width: 90%;
}

#empty-freelancer-list {
  margin-top: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#empty-freelancer-list img {
  width: 5rem;
}

#empty-freelancer-list h1 {
  margin-top: 1.2rem;
  color: var(--color-text);
  font-size: 4rem;
}

#empty-freelancer-list p {
  margin-top: 1.2rem;
  color: var(--color-text);
  max-width: 200px;
  text-align: center;
}

@media (min-width: 700px) {
  #page-freelancer-list {
    max-width: 100%;
  }

  #search-freelancers {
    width: 740px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    position: absolute;
    bottom: -20px;
  }

  #search-freelancers .select-block + .select-block {
    margin-top: 0;
  }

  #search-freelancers button:hover {
    transform: translateY(-5px);
  }

  #page-freelancer-list main {
    padding: 3.2rem 0;
    max-width: 740px;
    margin: 0 auto;
  }
}
