#page-freelancer-list {
  width: 100vw;
  height: 100vh;
}

#search-freelancers {
  margin-top: 3.2rem;
}

#search-freelancers label {
  color: var(--color-text-light);
}

#search-freelancers .select-block select {
  background: var(--color-text-light);
}

#page-freelancer-list main {
  margin: 3.2rem auto;
  width: 90%;
}

@media (min-width: 700px) {
  #page-freelancer-list {
    max-width: 100%;
  }

  #search-freelancers {
    width: 740px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    position: absolute;
    bottom: -20px;
  }

  #search-freelancers .select-block + .select-block {
    margin-top: 0;
  }

  #page-freelancer-list main {
    padding: 3.2rem 0;
    max-width: 740px;
    margin: 0 auto;
  }
}