#page-freelancer-form {
  width: 100vw;
  height: 100vh;
}

#page-freelancer-form .page-header .header-content {
  margin-bottom: 6.4rem;
}

#page-freelancer-form main {
  background: var(--color-text-light);
  width: 100%;
  max-width: 740px;
  border-radius: 0.8rem;
  margin: -3.2rem auto 3.2rem;
  padding-top: 6.4rem;
  overflow: hidden;
}

#page-freelancer-form main fieldset {
  border: 0;
  padding: 0 2.4rem;
}

#page-freelancer-form main fieldset + fieldset {
  margin-top: 6.4rem;
}

#page-freelancer-form main fieldset legend {
  font: 700 2.4rem Archivo;
  color: var(--color-text-dark);
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--color-7);
}

#page-freelancer-form main fieldset legend button {
  background: none;
  border: none;
  color: var(--color-3);
  font: 700 1.6rem Archivo;
  cursor: pointer;
}

#page-freelancer-form main fieldset .input-block + .textarea-block,
#page-freelancer-form main fieldset .input-block + .select-block,
#page-freelancer-form main fieldset .select-block + .input-block {
  margin-top: 2.4rem;
}

#page-freelancer-form main label {
  color: var(--color-text);
}

#page-freelancer-form main .skill-item + .skill-item {
  margin-top: 2.4rem;
}

#page-freelancer-form main .skill-item {
  display: grid;
  grid-template-columns: 2fr 2fr;
  column-gap: 1.6rem;
}

#page-freelancer-form main .skill-item .select-block {
  margin-top: 0 !important;
}

#page-freelancer-form main footer {
  padding: 4rem 2.4rem;
  background: var(--color-6);
  border-top: solid 1px var(--color-7);
  margin-top: 6.4rem;
}

#page-freelancer-form main footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--color-text-dark);
}

#page-freelancer-form main footer p img {
  margin-right: 2rem;
  width: 3.4rem;
}

#page-freelancer-form main footer button {
  width: 100%;
  height: 5.6rem;
  background: var(--color-5);
  color: var(--color-text-light);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.2s;
  margin-top: 3.2rem;
}

@media (min-width: 700px) {
  #page-freelancer-form {
    max-width: 100vw;
  }

  #page-freelancer-form .page-header .header-content {
    margin-bottom: 0;
  }

  #page-freelancer-form main fieldset {
    padding: 0 6.4rem
  }

  #page-freelancer-form main footer {
    padding: 4rem 6.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #page-freelancer-form main footer p {
    justify-content: space-between;
  }

  #page-freelancer-form main footer button {
    width: 20rem;
    margin-top: 0;
  }

  #page-freelancer-form main footer button:hover {
    transform: translateY(-5px);
  }
}