.freelancer-item {
  background: var(--color-text-light);
  border-radius: 0.8rem;
  margin-top: 2.4rem;
  overflow: hidden;
}

.freelancer-item header {
  padding: 3.2rem 2rem;
  display: flex;
  align-items: center;
}

.freelancer-item header img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.freelancer-item header div {
  margin-left: 2.4rem;
}

.freelancer-item header div strong {
  font: 700 2.4rem Archivo;
  display: block;
  color: var(--color-text-dark);
}

.freelancer-item header div span {
  font-size: 1.6rem;
  display: block;
  margin-top: 0.4rem;
}

.freelancer-item > p {
  padding: 0 2rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: var(--color-text);
  margin-bottom: 1.8rem;
}

.freelancer-item > p > a {
  color: var(--color-3);
  text-decoration: none;
  font-weight: 700;
}

.freelancer-item > p > strong, .skill-item {
  display: block;
}

.freelancer-item > p > .skill-item span{
  color: var(--color-4);
}

.freelancer-item footer {
  padding: 3.2rem 2rem;
  border-top: solid 1px var(--color-7);
  background: var(--color-6);
  margin-top: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.freelancer-item footer p strong {
  color: var(--color-3);
  font-size: 1.6rem;
  display: block;
}

.freelancer-item footer button {
  width: 20rem;
  height: 5.6rem;
  background: var(--color-5);
  color: var(--color-text-light);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.4rem Archivo;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.2s;
}

.freelancer-item footer button:hover {
  transform: translateY(-5px);
}

.freelancer-item footer button img {
  width: 2.6rem;
}

@media (min-width: 700px) {
  .freelancer-item header,
  .freelancer-item footer {
    padding: 3.2rem
  }

  .freelancer-item > p {
    padding: 0 3.2rem;
  }

  .freelancer-item footer p strong {
    display: initial;
    margin-left: 1.6rem;
  }

  .freelancer-item footer button {
    width: 24.5rem;
    font-size: 1.6rem;
    justify-content: center;
  }

  .freelancer-item footer button img {
    margin-right: 1.6rem;
  }
}