:root {
  font-size: 38%;

  --color-background: #f0f0f7;
  --color-1: #e84042;
  --color-1-dark: #c93133;
  --color-2: #fece47;
  --color-3: #f7a63c;
  --color-3-dark: #f59414;
  --color-4: #3943b7;
  --color-4-dark: #30399c;
  --color-5: #51cb20;
  --color-6: #fcfcfc;
  --color-7: #f5f5f5;
  --color-text-dark: #0a1f2d;
  --color-text: #7f7f7f;
  --color-text-light: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  background: var(--color-background);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Poppins;
}

.container {
  width: 90vw;
  max-width: 700px;
}

@media (min-width: 700px) {
  :root {
    font-size: 46.2%;
  }
}
